@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia-Italic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto-Semi-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto-Italic-Semi-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
*/

html, body
{
	background: #f5f5f5;
	color: #000;
	font-family: 'Constantia', Georgia, Serif;
	font-size: 1rem;
	hyphens: auto;
	margin: 0 auto;
	padding: 0;
	text-align: justify;
}

a
{
	color: #005ddd;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
}

.arrow
{
	color: #999;
	font-family: 'Constantia';
}

.below-copyright
{
	margin: 52px 0px 0px 0px;
	text-indent: 0px;
}

.below-covers
{
	margin: -12px 0px 0px 0px;
	text-indent: 0px;
}

.below-h1
{
	margin: -9px 0px 0px 0px;
	text-indent: 0px;
}

.below-h5
{
	margin: -15px 0px 0px 0px;
	text-indent: 0px;
}

.below-quote { margin-top: -4px; }

.below-quote-author
{
	margin: 0px;
	text-indent: 0px;
}

.below-quote-source
{
	margin: -2px 0px 0px 0px;
	text-indent: 0px;
}

.caption
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	line-height: 1.15;
	text-align: center;
	text-indent: 0px;
	text-wrap: balance;
}

cite { font-style: normal; }

.contact-links
{
	font-size: 0.85rem;
	margin: 39px 0px 26px 0px;
}

.contact-links p
{
	margin: 0;
	padding-left: 20px;
	text-indent: -20px;
}

.copyright
{
	color: #999;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: -30px 0px;
	text-align: center;
	text-indent: 0px;
}

.counseling
{
	background-color: #f5f5f5;
	border-radius: 10px;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: -1px 22px 0px 22px;
	padding: 20px;
	text-align: center;
	text-indent: 0px;
}

.counseling li { text-align: left; }

.covers
{
	margin-top: 10px;
	width: 40%;
}

.footer
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 0.9rem;
	letter-spacing: 0.01rem;
	margin-top: 22px;
	text-indent: 0px;
}

.green-button
{
	background: #4e8e01;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.2;
	padding: 11px 13px;
	text-align: center;
}

h1
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.7rem;
	font-weight: normal;
	line-height: 1.25;
	margin: 30px 0px;
	text-align: center;
	text-wrap: balance;
}

h2
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.5rem;
	margin: 5px 0px;
	text-wrap: balance;
}

h3
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.2rem;
	margin: 5px 0px;
	text-wrap: balance;
}

h4
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.1rem;
	font-weight: normal;
	margin: 11px 0px;
	text-align: center;
	text-wrap: balance;
}

h5
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.35;
	margin: 36px 0px;
	text-align: center;
	text-wrap: balance;
}

h6
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.3rem;
	font-weight: normal;
	line-height: 1.4;
	margin: -15px 0px;
	text-align: center;
	text-wrap: balance;
}

.header
{
	font-family: 'Roboto', Sans-Serif;
	hyphens: none;
	letter-spacing: 0.01rem;
	padding: 0px 14px 0px 14px;
	text-align: center;
}

.header-separator
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 12px;
}

img { max-width: 100%; }

img.below-copyright
{
	border-radius: 4px;
	margin-top: 60px;
}

img.below-h1
{
	border-radius: 4px;
	margin-top: -1px;
}

.indent { text-indent: 20px; }
.index-links { margin-top: 23px; }

.index-links h5
{
	font-family: 'Constantia', Georgia, Serif;
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 15px 0px;
}

.languages
{
	color: #bbb;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	line-height: 1.65;
	margin-top: 19px;
	text-align: center;
	text-indent: 0px;
}

.languages-below-quote-author
{
	color: #bbb;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin-top: 20px;
	text-align: center;
	text-indent: 0px;
}

li
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
}

li:not(:first-child) { margin-top: 7px; }

.logo
{
	filter: drop-shadow(0px 0px 15px #fff);
	margin-top: 20px;
	width: 190px;
}

.main-div
{
	line-height: 1.6;
	padding: 0px 14px 11px 14px;
}

.navigation
{
	display: grid;
	font-size: 1.4rem;
	grid-template-columns: 1fr 1fr 1fr;
	line-height: 1.15;
	margin-top: 21px;
}

.navigation-button-top-left
{
	font-size: 1.4rem;
	position: absolute;
	top: 20px;
	left: 20px;
}

.navigation-separator
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 9px;
}

.navigation-separator-no-languages
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 31px;
}

.no-indent { text-indent: 0px; }
.numbered-quotes { margin: 1px 0px; }

p
{
	margin: 0px;
	text-indent: 20px;
}

.poem
{
	margin: 0px;
	margin-left: 15px;
	text-indent: -15px;
}

.quote
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.4;
	margin: 20px 40px 0px 40px;
	text-align: left;
	text-indent: -0.75ch;
}

.quote-author
{
	display: block;
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 5px 0px;
	text-align: right;
}

.quote-below-copyright
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.4;
	margin: 51px 40px 22px 40px;
	text-align: left;
	text-indent: -0.75ch;
}

.quotes-from-books
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: 23px 0px 21px 20px;
	text-indent: 0px;
}

.quote-number
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 0.9rem;
	margin-top: 25px;
	text-align: center;
	text-indent: 0px;
}

.quote-source
{
	display: block;
	font-size: 1rem;
	font-weight: normal;
	margin: -11px 0px 26px 0px;
	text-align: right;
}

.religions-symbols
{
	color: #999;
	font-size: 1.3rem;
	line-height: 0;
	margin-top: 40px;
	margin-bottom: 35px;
	text-align: center;
	text-indent: 0px;
}

.revert
{
	margin: revert;
	margin-bottom: 0px;
}

.roboto
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
}

.top-links
{
	color: #bbb;
	font-size: 1rem;
	line-height: 1.3;
	margin-top: 27px;
	text-indent: 0px;
}

ul, ol { margin: 20px 0px 22px -19px; }

.video
{
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.video iframe
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper
{
	background-color: #fff;
	background-image: url('media/wrapper-background.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 8px;
	margin-bottom: 15px;
	margin-top: 14px;
}

@media only screen and (max-width: 749px)
{
	html, body
	{
		background: #fff;
		text-align: initial;
	}

	.caption { font-size: 0.95rem; }
	.covers { width: 55%; }

	.index-links h5
	{
		font-size: 1rem;
		line-height: 1.55;
	}

	.navigation-button
	{
		top: 15px;
		left: 15px;
	}

	.navigation-button-top-left
	{
		-webkit-text-stroke: 3px #fff;
		text-stroke: 3px #fff;
		paint-order: stroke fill;
		top: 16px;
		left: 14px;
	}

	.wrapper
	{
		background-image: url('media/wrapper-background-mobile.jpg');
		border-radius: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: 750px)
{
	html, body { width: 750px; }
	.contact-links { font-size: 0.9rem; }
	.counseling li { text-align: justify; }
	.main-div { padding: 0px 38px 34px 38px; }

	.poem
	{
		margin-left: 40px;
		text-indent: -40px;
	}
}
