@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Constantia';
    src: url('media/Font-Constantia-Italic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto-Semi-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('media/Font-Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*
@font-face {
font-family: 'Roboto';
src: url('media/Font-Roboto-Italic-Semi-Bold.woff2') format('woff2');
font-weight: bold;
font-style: italic;
font-display: swap;
}
*/

html, body
{
	background: #f2f2f2;
	color: #000;
	font-family: 'Constantia', Georgia, Serif;
	font-size: 1rem;
	hyphens: auto;
	line-height: 1.7;
	margin: 0 auto;
	padding: 0;
	/* text-align: justify; */
	width: 750px;
}

a
{
	color: #005ddd;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
}

.arrow
{
	color: #999;
	font-family: 'Constantia';
}

.below-copyright
{
	margin: 20px 0px 0px 0px;
	text-indent: 0px;
}

img.below-copyright
{
	border-radius: 4px;
	margin-top: 29px;
}

.below-covers
{
	margin: 4px 0px 0px 0px;
	text-indent: 0px;
}

.below-h1
{
	margin: 20px 0px 0px 0px;
	text-indent: 0px;
}

img.below-h1
{
	border-radius: 4px;
	margin-top: 29px;
}

.below-h5
{
	margin: 20px 0px 0px 0px;
	text-indent: 0px;
}

.below-quote { margin-top: -4px; }

.below-quote-author
{
	margin: 21px 0px 0px 0px;
	text-indent: 0px;
}

.below-quote-source
{
	margin: -3px 0px 0px 0px;
	text-indent: 0px;
}

.caption
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	line-height: 1.2;
	text-align: center;
	text-indent: 0px;
	text-wrap: balance;
}

.center { text-align: center; }
cite { font-style: normal; }

.contact-links
{
	font-size: 0.9rem;
	margin: 39px 0px 26px 0px;
}

.contact-links p
{
	margin: 0;
	padding-left: 20px;
	text-indent: -20px;
}

.container
{
	background-color: #fff;
	background-image: url('media/container-background.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 8px;
	margin-bottom: 19px;
	margin-top: 19px;
}

.content { padding: 0px 39px 37px 39px; }

.copyright
{
	color: #999;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: -1px 0px 0px 0px;
	text-align: center;
	text-indent: 0px;
}

.counseling
{
	background-color: #f5f5f5;
	border-radius: 10px;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: 29px 22px 0px 22px;
	padding: 20px;
	text-align: center;
	text-indent: 0px;
}

.counseling li { text-align: left; }

.covers
{
	margin-top: 13px;
	width: 40%;
}

.footer
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 0.9rem;
	letter-spacing: 0.01rem;
	margin-top: 21px;
	text-indent: 0px;
}

.green-button
{
	background: #4e8e01;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.2;
	padding: 11px 13px;
	text-align: center;
}

h1
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.7rem;
	font-weight: normal;
	line-height: 1.25;
	margin: 30px 0px 0px 0px;
	text-align: center;
	text-wrap: balance;
}

h2
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.5rem;
	margin: -6px 0px 0px 0px;
	text-wrap: balance;
}

h3
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.2rem;
	margin: -6px 0px 0px 0px;
	text-wrap: balance;
}

h4
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.1rem;
	font-weight: normal;
	margin: 0px;
	text-align: center;
	text-wrap: balance;
}

h5
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.35;
	margin: 35px 0px 0px 0px;
	text-align: center;
	text-wrap: balance;
}

h6
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.3rem;
	font-weight: normal;
	line-height: 1.4;
	margin: 0px;
	text-align: center;
	text-wrap: balance;
}

.header
{
	font-family: 'Roboto', Sans-Serif;
	hyphens: none;
	letter-spacing: 0.01rem;
	padding: 0px 14px 0px 14px;
	text-align: center;
}

.header-links
{
	color: #bbb;
	font-size: 1rem;
	line-height: 1.3;
	margin-top: 21px;
	text-indent: 0px;
}

img { max-width: 100%; }
.indent { text-indent: 20px; }
.index-links { margin-top: 23px; }

.index-links h5
{
	font-family: 'Constantia', Georgia, Serif;
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 15px 0px;
}

.languages-links
{
	color: #bbb;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	line-height: 1.75;
	margin-top: 18px;
	text-align: center;
	text-indent: 0px;
}

.languages-links-below-quote-author
{
	color: #bbb;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin-top: 19px;
	text-align: center;
	text-indent: 0px;
}

li
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
}

li:not(:first-child) { margin-top: 5px; }

.logo
{
	filter: drop-shadow(0px 0px 15px #fff);
	margin-top: 19px;
	width: 190px;
}

.navigation-top
{
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 1.5rem;
	line-height: 1;
}

.navigation-bottom
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	line-height: 1;
	margin-top: 23px;
}

.navigation-bottom-arrows { font-size: 1.2rem; }

.navigation-bottom-button
{
	font-size: 1.2rem;
	text-align: center;
}

.no-indent { text-indent: 0px; }
.numbered-quotes { margin: 1px 0px; }

ol
{
	margin: 20px 0px 20px -19px;
	text-align: initial;
}

p
{
	margin: 0px;
	text-indent: 20px;
}

.photography-album
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(9, 1fr);
	margin-top: 22px;
}

.photography-album div
{
	margin-top: -9px;
	outline: solid 2px #fff;
}

.poem
{
	margin-left: 40px;
	text-indent: -40px;
}

.quote
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.4;
	margin: 20px 40px 0px 40px;
	text-align: left;
	text-indent: -0.75ch;
}

.quote-author
{
	display: block;
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 5px 0px;
	text-align: right;
}

.quotes-from-books
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: 20px 0px 20px 20px;
	text-indent: 0px;
}

.quote-number
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 0.9rem;
	margin-top: 25px;
	text-align: center;
	text-indent: 0px;
}

.quote-source
{
	display: block;
	font-size: 1rem;
	font-weight: normal;
	margin: -11px 0px 26px 0px;
	text-align: right;
}

.religions-symbols
{
	color: #999;
	font-size: 1.3rem;
	line-height: 0;
	margin-top: 39px;
	margin-bottom: 34px;
	text-align: center;
	text-indent: 0px;
}

.revert { margin: 20px 0px 0px 0px; }

.roboto
{
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
}

.separator-top
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 12px;
}

.separator-bottom
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 8px;
}

.separator-bottom-no-languages-links
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 31px;
}

ul
{
	margin: 20px 0px 20px -19px;
	text-align: initial;
}

.video
{
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.video iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 749px)
{
	html, body
	{
		background: #fff;
		text-align: initial;
		width: 100%;
	}

	.below-covers { margin: 7px 0px 0px 0px; }

	.container
	{
		background-image: url('media/container-background-mobile.jpg');
		border-radius: 0px;
		margin: 0px;
	}

	.content { padding: 0px 14px 16px 14px; }

	.covers
	{
		margin-top: 16px;
		width: 60%;
	}

	.logo { margin-top: 14px; }

	.navigation-top
	{
		top: 18px;
		left: 14px;
		-webkit-text-stroke: 2px #fff;
		text-stroke: 2px #fff;
		paint-order: stroke fill;
	}

	.navigation-bottom-arrows { font-size: 1.19rem; }
	.navigation-bottom-button { font-size: 1.2rem; }
}
